
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-one {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgb(221, 221, 221);
  background-color: rgb(247, 247, 247);
}

.middle-nav-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle-nav-contains {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-cta {
  height: 48px;
  width: 300px;
  font-size: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  /* border: 1px solid rgb(221, 221, 221); */
  /* background: linear-gradient(to right,#FF385C 0%,#E61E4D 27.5%,#E31C5F 40%,#D70466 57.5%,#BD1E59 75%,#BD1E59 100%); */
  /* background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%); */
  background-color: rgb(255, 0, 131);
  box-shadow: rgba(255, 0, 131, 0.5) 0px 10px 40px -10px;
  margin-right: 25px;
} 

.property-filter {
  height: 48px;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
  padding-left: 25px;
  padding-right: 25px;
}

.analytics-container,
.analytics-inner {
  display: flex;
}

.analytics-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  margin-left: 30px;
  width: 100%;
  height: 100%;
}


.analytics-header {
  font-size: 14px;
  font-weight: 400;
}

.dollar {
  font-weight: bold;
  font-size: 20px;
}

.analytics-p {
  border-right: 1px solid black;
  margin-right: 5px;
  padding-right: 5px;
}

.analytics-inner p {
  font-size: 12px;
  font-style: italic;
}

.main-cta:hover {
  cursor: pointer;
}

.main-cta P {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.nav-three {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.nav-three-container {
  display: flex;
  width: 80%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.icon-header-container {
  display: flex;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.icon {
  color: rgb(113, 113, 113);
  font-size: 20px;
}

.icon-header {
  font-size: 14px;
  color: rgb(113, 113, 113);
}



/* Property Card Container */

.property-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.property-wrapper {
  width: 80%;
}


/* Property Card */

.property-card-container {
  width: 300px;
  margin-right: 25px;
  display: inline-block;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(74, 74, 74);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 47px 46px -27px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.property-card-container p {
  margin-left: 10px;
}

.property-image {
  height: 285px;
  width: 300px;
  /* border: 1px solid rgb(221, 221, 221); */
  border-radius: 10px;
  margin-bottom: 10px;
}

.property-address {
  font-weight: bold;
  font-size: 18px;
}

.property-city {
  font-size: 14px;
  margin-bottom: 10px;
}

.property-rent span {
  font-weight: bold;
  margin-bottom: 20px;
}

.testone {
  color: black !important;
  margin-bottom: 8px;
}

.test {
  border-bottom: 3px solid black !important;
}

/* Property Modal  */

form {
  width: 1000px;
  height: 250px;
  border-radius: 5px;
  z-index: 10;
  margin: auto;
}

input {
  padding: 10px;
  border: 1px solid rgb(221, 221, 221);
  margin: 5px;
  border-radius: 5px;
}

.property-modal-close {
  float: right;
}


.footer-top {
  background-image: url("C:/users/owner/desktop/react-comps/components/resources/Revised_Lemon.png");
  height: 820px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.footer-container {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(221, 221, 221);
  background-color: rgb(247, 247, 247);
  z-index: 10;

}